/*
わぷーページ追加用のスタイルシート。
*/

#forkme_banner {
    padding: 10px 20px;
    background-image: none;
    background-color: #0090ff;
}

.faq-english {
  display: block;
  position: absolute;
  top: 0;
  z-index: 10;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 10px 20px;
  background-image: none;
  background-color: #00dd90;
}

.inner {
    max-width: 700px;
}

#main_content {
    width: 100%;
    overflow: auto;
        .wapuu-each:nth-child(even){
        float: right;
        }

}

.wapuu-each {
    float: left;
    height: 500px;
    img {
        width: 300px;
        border: none;
        box-shadow: none;
    }
}
