<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8' />
        <meta http-equiv="X-UA-Compatible" content="chrome=1" />
        <meta name="description" content="Wapuu : わぷーアーカイブ" />

        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
        <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/additional.css">

        <title>わぷーアーカイブ</title>
    </head>

    <body>
        <a href="https://github.com/jawordpressorg/wapuu/"><img style="position: absolute; top: 0; right: 0; border: 0; padding: 0; margin: 0; box-shadow: none;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        <!-- HEADER -->
        <div id="header_wrap" class="outer">
            <header class="inner">
                <a id="forkme_banner" href="faq.html">わぷーFAQ</a>
                <a class="faq-english" href="faq_en.html" style="right: 140px">Wapuu's FAQ</a>

                <h1 id="project_title">わぷーアーカイブ</h1>

            </header>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main_content_wrap" class="outer" ng-app="myapp">
            <section id="main_content" class="inner" ng-controller="myCtrl">
              <div class="wapuu-each" ng-repeat="wapuu in wapuus">
                  <a ng-if="wapuu.wapuu.url" ng-href="{{ wapuu.wapuu.url }}">
                      <img ng-src="{{ wapuu.wapuu.src }}" alt="{{ wapuu.wapuu.name }}">
                  </a>
                  <img ng-if="! wapuu.wapuu.url" ng-src="{{ wapuu.wapuu.src }}" alt="{{ wapuu.wapuu.name }}">
                  <div class="wapuu-name">Name: {{ wapuu.wapuu.name }} <a ng-if="wapuu.wapuu.repository" ng-href="{{ wapuu.wapuu.repository }}">(GitHub)</a></div>
                  <div ng-if="wapuu.author.url" class="wapuu-author">Author: <a ng-href="{{ wapuu.author.url }}">{{ wapuu.author.name }}</a></div>
                  <div ng-if="! wapuu.author.url" class="wapuu-author">Author: {{ wapuu.author.name }}</div>
              </div>
            </section>
        </div>

        <!-- FOOTER  -->
        <div id="footer_wrap" class="outer">
            <footer class="inner">
                <p class="copyright">Wapuu maintained by <a href="https://github.com/jawordpressorg">jawordpressorg</a></p>
                <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
            </footer>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script type="text/javascript">
        angular.module('myapp', [])
        .service('wapuu', ['$http', function ($http) {
            this.getdata = function (callback) {
                $http({
                    url: 'https://jawordpressorg.github.io/wapuu-api/v1/wapuu.json',
                    method: 'GET'
                })
                .success(function (data, status, headers, config) {
                    callback(data);
                })
            };
        }])
        .controller('myCtrl', ['$scope', 'wapuu', function ($scope, wapuu) {
            $scope.wapuus = [];
            wapuu.getdata(function (res) {
                $scope.wapuus = res.sort(function() {
                  return .5 - Math.random();
                });
            });
        }]);
        </script>
    </body>
</html>
